<app-navbar></app-navbar>
<div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
<div>
    <!-- infos facture -->
    <div *ngFor="let item of factureArray"> 
    
        <div class="uk-card-default uk-card-body m-4" *ngIf="item.reference === id">
            <h3 class="uk-card-title"><i>les informations sur la facture</i></h3>

                <div class="uk-margin">
                    <b style="color: #043748;"> Numero : {{item.$key}} </b>
                </div> 
                <div class="uk-margin">
                    Date : {{item.date_fact}}
                </div> 
                <div class="uk-margin">
                    Sous total : {{item.sous_total}}
                </div> 
                <div class="uk-margin">
                     Forfait : {{item.forfait}} 
                </div>
                <div class="uk-margin">
                      TVA : {{item.tva}} 
                </div>
                <div class="uk-margin">
                     Total : {{item.total}} 
                </div>
                <hr style="color:#0066ff;">
            </div>

</div>
</div>
<!-- end infos facture -->

<!--Infos Paiement-->
<div>

    <div class="uk-card uk-card-default uk-card-body m-4">
        <h3 class="uk-card-title"><i>Payment details</i> </h3>
    <div *ngFor="let item of paiementArray"> 
        <div v *ngIf="item.reference === id">
            <div *ngIf="item.method === 'cheque'">
                <div class="uk-margin" style="color: #043748;">
                    <b>  Numero : {{item.numero}} </b>
                </div>
                <div class="uk-margin">
                    Method : {{item.method}} 
                </div>
            </div>
            <div *ngIf="item.method === 'carte'">
                <div class="uk-margin" style="color: #043748;">
                    <b>  Numero : {{item.numero}} </b>
                </div>
                <div class="uk-margin">
                     Method : {{item.method}}
                </div>
                <div class="uk-margin">
                    La date d'expiration : {{item.date_expiration}}
                </div>
            </div>
        </div>
    </div>
    </div>
</div>


<!--end infos Paiement-->

<!--Infos Garage-->
<div>
<div class="uk-card uk-card-default uk-card-body m-4">
<h3 class="uk-card-title"><i>Le garage</i> </h3>
<div *ngFor="let item of garageArray"> 
    <div *ngIf="item.reference === id">
        <div class="uk-margin" style="color: #043748;">
            <b>  Nom : {{item.nom}} </b>
        </div> 
        <div class="uk-margin">
             Adresse : {{item.adresse}}
        </div> 
        
    </div>
</div>
</div>
<!--end infos garage--> 
</div>


</div>




